@using MbtaPredictor.ViewModels;
@model MbtaPredictor.ViewModels.HomePageViewModel
@{
    var types = Enum.GetValues(typeof(HomePageViewModel.RouteTypes));
}


<environment names="Development">

</environment>

<environment names="Production">

</environment>

<h1>Welcome!</h1>
<div>
    <form asp-controller="Home" asp-action="GetRoutes" method="get">
        <div>
            <label id="routeType"></label>
            <select id="routeType">
                @foreach (var type in types)
                {
                    <option value="@type.ToString()">@type.ToString()</option>
                }
            </select>
        </div>
        <div>
            <input type="submit" value="Save!" />
        </div>
    </form>
</div>