@model MbtaPredictor.ViewModels.HomePageViewModel

@{ 
    ViewBag.Title = "Home";
}

<environment names="Development">

</environment>

<environment names="Production">

</environment>

<h1>Welcome!</h1>

@foreach (var trip in Model.Trips)
{
    @Html.Partial("_Summary", trip)
}